.git
.gitignore
.env.example
.env.*.local
.editorconfig
.gitattributes
**/.DS_Store
vendor
node_modules
npm-debug.log
composer.lock
package-lock.json
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.vscode
.idea
*.md
!README.md
